<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="renderer" content="webkit"/>
        <title>
            <%=title %>
        </title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <% include nav.ejs %>
            <div id="main_div" class="clear">
                <div id="choose_div">
                    <div  id="mydisk" style="float:right;width:225px;height:225px;background-image: url(../images/network_disk.jpg);">
                    </div>
                    <div id="up" style="width:225px;height:225px;background-image: url(../images/up.png);">
                    </div>
                </div>
            </div>
    </body>

    <script src="/javascripts/index.js" type="text/javascript" charset="utf-8" async defer></script>
</html>